<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="chunks/template_chunks :: head('Product list')"></head>

<body>

<nav th:replace="chunks/template_chunks :: header"></nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/product}" method="post" th:object="${product}">
                <input type="hidden" name="id" th:field="*{id}"/>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" th:field="*{name}"
                           placeholder="Enter product name">
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" step="0.01" class="form-control" th:field="*{price}"
                           placeholder="Enter product price">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="chunks/template_chunks :: scripts"></th:block>

</body>
</html>